:root {
  --primary-color: #87B5B5;
  --secondary-color: #4AA3A3;
  --tertiary-color: #C0D8D8;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-color: var(--primary-color);
  padding: 0.5rem;
}

.App {
  text-align: center;
  height: 100vh;
}

.container {
  margin: 0 auto;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border: 1px solid black;
}

.editor {
  width: 85%;
  max-width: 60rem;
  border: none;  
  background-color: var(--tertiary-color);
  padding: 0;
  padding: auto;
}

textarea {
  width: 100%;
  height: calc(100% - 1.9rem);
  background-color: var(--tertiary-color);
  padding: 0.5rem;
  outline: none;
  min-height: 18rem;
  margin: 0;
  resize: none;
  border: none;
}
.previewer {
  margin-top: 2rem;
  width: 95%;
  max-width: 80rem;
  text-align: left;
}
.previewer.expanded {
  height: auto!important;
}
.content {
  background-color: var(--tertiary-color);
  min-height: 15rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: calc(100% - 1.9rem);
  text-align: left;
}

.bar-title {
  background-color: var(--secondary-color);
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
  align-items: center;
  width: 100.3%;
}

.left {
  display: flex;
}

.icon {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  padding-left: 1rem;
  font-weight: bold;
}

.min-max:hover {
  cursor: pointer;
}

.expanded {
  height: calc(100% - 1.9rem);
  margin-top: 0;
}

/* code {
  background-color: white;
}

pre {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

img {
  max-width: 90%;
}

#preview table {
  border-collapse: collapse;
} */

#preview blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}
#preview > p > code {
  padding: 3px;
}
#preview code {
  background: white;
  font-size: 0.875rem;
  font-weight: bold;
}
#preview pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}
#preview h1 {
  border-bottom: 2px solid #224b4b;
}
#preview h2 {
  border-bottom: 1px solid #224b4b;
}
#preview table {
  border-collapse: collapse;
}
#preview td,
#preview th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}
#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}